<footer>
  <div>
  <p><%= current_year %>
  <p>Никитин Н.А.
  <p>Мой гит: <%= github_url('zipnikitin', 'testGuru') %>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
  </div>
</footer>