<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hello!</title>
</head>
<body>
	<p><a href="http://localhost:3000/about">About</a>
    <p>Page last updated: <%= @last_update %></p>
</body>
</html>
